--
-- PostgreSQL database dump
--

\restrict phZxxO5Azd5aTizXzUtEcfQdqaMjK7ZccKBxqBTa8X9RgTxx698tU9JPDXPx6YE

-- Dumped from database version 15.16 (Debian 15.16-0+deb12u1)
-- Dumped by pg_dump version 18.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: organisation; Type: TABLE; Schema: public; Owner: neurales_user
--

CREATE TABLE public.organisation (
    organisation_id integer NOT NULL,
    nom character varying(100) NOT NULL,
    type character varying(50) NOT NULL,
    adresse character varying(255),
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.organisation OWNER TO neurales_user;

--
-- Name: organisation_organisation_id_seq; Type: SEQUENCE; Schema: public; Owner: neurales_user
--

CREATE SEQUENCE public.organisation_organisation_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.organisation_organisation_id_seq OWNER TO neurales_user;

--
-- Name: organisation_organisation_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neurales_user
--

ALTER SEQUENCE public.organisation_organisation_id_seq OWNED BY public.organisation.organisation_id;


--
-- Name: t_alerte; Type: TABLE; Schema: public; Owner: neurales_user
--

CREATE TABLE public.t_alerte (
    alert_id bigint NOT NULL,
    triggered_at timestamp without time zone DEFAULT now() NOT NULL,
    alert_type character varying(60) NOT NULL,
    severity character varying(20) NOT NULL,
    valeur double precision,
    message character varying(255),
    ack_at timestamp without time zone,
    ack_by_user_id integer,
    session_id integer NOT NULL
);


ALTER TABLE public.t_alerte OWNER TO neurales_user;

--
-- Name: t_alerte_alert_id_seq; Type: SEQUENCE; Schema: public; Owner: neurales_user
--

ALTER TABLE public.t_alerte ALTER COLUMN alert_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.t_alerte_alert_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: t_associer; Type: TABLE; Schema: public; Owner: neurales_user
--

CREATE TABLE public.t_associer (
    user_id integer NOT NULL,
    role_id integer NOT NULL,
    assigned_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.t_associer OWNER TO neurales_user;

--
-- Name: t_canal; Type: TABLE; Schema: public; Owner: neurales_user
--

CREATE TABLE public.t_canal (
    channel_id integer NOT NULL,
    nom character varying(50) NOT NULL,
    unite character varying(20),
    sampling_rate_hz integer,
    device_id integer NOT NULL
);


ALTER TABLE public.t_canal OWNER TO neurales_user;

--
-- Name: t_canal_channel_id_seq; Type: SEQUENCE; Schema: public; Owner: neurales_user
--

ALTER TABLE public.t_canal ALTER COLUMN channel_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.t_canal_channel_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: t_configuration_session; Type: TABLE; Schema: public; Owner: neurales_user
--

CREATE TABLE public.t_configuration_session (
    config_id integer NOT NULL,
    window_seconds integer NOT NULL,
    quality_min integer NOT NULL,
    fatigue_threshold integer NOT NULL,
    alert_cooldown_seconds integer,
    session_id integer NOT NULL
);


ALTER TABLE public.t_configuration_session OWNER TO neurales_user;

--
-- Name: t_configuration_session_config_id_seq; Type: SEQUENCE; Schema: public; Owner: neurales_user
--

ALTER TABLE public.t_configuration_session ALTER COLUMN config_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.t_configuration_session_config_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: t_consentement; Type: TABLE; Schema: public; Owner: neurales_user
--

CREATE TABLE public.t_consentement (
    consent_id integer NOT NULL,
    scope character varying(50) NOT NULL,
    status character varying(20) NOT NULL,
    consent_at timestamp without time zone DEFAULT now() NOT NULL,
    expires_at timestamp without time zone,
    withdrawn_at timestamp without time zone,
    collected_by_user_id integer NOT NULL,
    patient_id integer NOT NULL
);


ALTER TABLE public.t_consentement OWNER TO neurales_user;

--
-- Name: t_consentement_consent_id_seq; Type: SEQUENCE; Schema: public; Owner: neurales_user
--

ALTER TABLE public.t_consentement ALTER COLUMN consent_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.t_consentement_consent_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: t_definir; Type: TABLE; Schema: public; Owner: neurales_user
--

CREATE TABLE public.t_definir (
    role_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.t_definir OWNER TO neurales_user;

--
-- Name: t_dispositif; Type: TABLE; Schema: public; Owner: neurales_user
--

CREATE TABLE public.t_dispositif (
    device_id integer NOT NULL,
    marque_modele character varying(120) NOT NULL,
    serial_number character varying(120),
    connection_type character varying(30) NOT NULL,
    etat character varying(30) NOT NULL,
    organisation_id integer NOT NULL
);


ALTER TABLE public.t_dispositif OWNER TO neurales_user;

--
-- Name: t_dispositif_device_id_seq; Type: SEQUENCE; Schema: public; Owner: neurales_user
--

ALTER TABLE public.t_dispositif ALTER COLUMN device_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.t_dispositif_device_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: t_echantillon; Type: TABLE; Schema: public; Owner: neurales_user
--

CREATE TABLE public.t_echantillon (
    sample_id bigint NOT NULL,
    timestamp_at timestamp without time zone NOT NULL,
    quality_score integer,
    session_id integer NOT NULL
);


ALTER TABLE public.t_echantillon OWNER TO neurales_user;

--
-- Name: t_echantillon_sample_id_seq; Type: SEQUENCE; Schema: public; Owner: neurales_user
--

ALTER TABLE public.t_echantillon ALTER COLUMN sample_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.t_echantillon_sample_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: t_export_fichier; Type: TABLE; Schema: public; Owner: neurales_user
--

CREATE TABLE public.t_export_fichier (
    export_id bigint NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    format character varying(10) NOT NULL,
    path character varying(255) NOT NULL,
    checksum character varying(120),
    created_by_user_id integer NOT NULL,
    session_id integer NOT NULL
);


ALTER TABLE public.t_export_fichier OWNER TO neurales_user;

--
-- Name: t_export_fichier_export_id_seq; Type: SEQUENCE; Schema: public; Owner: neurales_user
--

ALTER TABLE public.t_export_fichier ALTER COLUMN export_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.t_export_fichier_export_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: t_indicateur; Type: TABLE; Schema: public; Owner: neurales_user
--

CREATE TABLE public.t_indicateur (
    indicator_id bigint NOT NULL,
    nom character varying(60) NOT NULL,
    valeur double precision NOT NULL,
    confidence double precision,
    window_start timestamp without time zone NOT NULL,
    window_end timestamp without time zone NOT NULL,
    session_id integer NOT NULL
);


ALTER TABLE public.t_indicateur OWNER TO neurales_user;

--
-- Name: t_indicateur_indicator_id_seq; Type: SEQUENCE; Schema: public; Owner: neurales_user
--

ALTER TABLE public.t_indicateur ALTER COLUMN indicator_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.t_indicateur_indicator_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: t_log_evenement; Type: TABLE; Schema: public; Owner: neurales_user
--

CREATE TABLE public.t_log_evenement (
    log_id bigint NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    level character varying(10) NOT NULL,
    code character varying(60),
    message character varying(255) NOT NULL,
    metadata text,
    actor_user_id integer,
    session_id integer,
    organisation_id integer NOT NULL
);


ALTER TABLE public.t_log_evenement OWNER TO neurales_user;

--
-- Name: t_log_evenement_log_id_seq; Type: SEQUENCE; Schema: public; Owner: neurales_user
--

ALTER TABLE public.t_log_evenement ALTER COLUMN log_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.t_log_evenement_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: t_organisation; Type: TABLE; Schema: public; Owner: neurales_user
--

CREATE TABLE public.t_organisation (
    organisation_id integer NOT NULL,
    nom character varying(100) NOT NULL,
    type character varying(50) NOT NULL,
    adresse character varying(255),
    created_at timestamp without time zone NOT NULL
);


ALTER TABLE public.t_organisation OWNER TO neurales_user;

--
-- Name: t_organisation_organisation_id_seq; Type: SEQUENCE; Schema: public; Owner: neurales_user
--

ALTER TABLE public.t_organisation ALTER COLUMN organisation_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.t_organisation_organisation_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: t_patient; Type: TABLE; Schema: public; Owner: neurales_user
--

CREATE TABLE public.t_patient (
    patient_id integer NOT NULL,
    identifiant_interne character varying(80) NOT NULL,
    date_naissance date,
    sexe character varying(10),
    notes character varying(255),
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    organisation_id integer NOT NULL,
    prenom character varying(100) DEFAULT ''::character varying NOT NULL,
    numero_securite_sociale character varying(13),
    service character varying(100),
    medecin_referent character varying(100),
    remarque character varying(500),
    nom character varying(100) DEFAULT ''::character varying NOT NULL
);


ALTER TABLE public.t_patient OWNER TO neurales_user;

--
-- Name: t_patient_patient_id_seq; Type: SEQUENCE; Schema: public; Owner: neurales_user
--

ALTER TABLE public.t_patient ALTER COLUMN patient_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.t_patient_patient_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: t_permission; Type: TABLE; Schema: public; Owner: neurales_user
--

CREATE TABLE public.t_permission (
    permission_id integer NOT NULL,
    code character varying(80) NOT NULL,
    description character varying(255)
);


ALTER TABLE public.t_permission OWNER TO neurales_user;

--
-- Name: t_permission_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: neurales_user
--

ALTER TABLE public.t_permission ALTER COLUMN permission_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.t_permission_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: t_role; Type: TABLE; Schema: public; Owner: neurales_user
--

CREATE TABLE public.t_role (
    role_id integer NOT NULL,
    code character varying(50) NOT NULL,
    libelle character varying(100) NOT NULL
);


ALTER TABLE public.t_role OWNER TO neurales_user;

--
-- Name: t_role_role_id_seq; Type: SEQUENCE; Schema: public; Owner: neurales_user
--

ALTER TABLE public.t_role ALTER COLUMN role_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.t_role_role_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: t_session_mesure; Type: TABLE; Schema: public; Owner: neurales_user
--

CREATE TABLE public.t_session_mesure (
    session_id integer NOT NULL,
    mode character varying(20) NOT NULL,
    started_at timestamp without time zone DEFAULT now() NOT NULL,
    ended_at timestamp without time zone,
    notes character varying(255),
    app_version character varying(50),
    device_id integer,
    consent_id integer,
    patient_id integer,
    created_by_user_id integer NOT NULL,
    organisation_id integer NOT NULL
);


ALTER TABLE public.t_session_mesure OWNER TO neurales_user;

--
-- Name: t_session_mesure_session_id_seq; Type: SEQUENCE; Schema: public; Owner: neurales_user
--

ALTER TABLE public.t_session_mesure ALTER COLUMN session_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.t_session_mesure_session_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: t_utilisateur; Type: TABLE; Schema: public; Owner: neurales_user
--

CREATE TABLE public.t_utilisateur (
    user_id integer NOT NULL,
    nom character varying(80) NOT NULL,
    prenom character varying(80) NOT NULL,
    email character varying(150) NOT NULL,
    etat_compte character varying(20) NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    last_login_at timestamp without time zone,
    organisation_id integer NOT NULL
);


ALTER TABLE public.t_utilisateur OWNER TO neurales_user;

--
-- Name: t_utilisateur_user_id_seq; Type: SEQUENCE; Schema: public; Owner: neurales_user
--

ALTER TABLE public.t_utilisateur ALTER COLUMN user_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.t_utilisateur_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: t_valeur_signal; Type: TABLE; Schema: public; Owner: neurales_user
--

CREATE TABLE public.t_valeur_signal (
    sample_id bigint NOT NULL,
    channel_id integer NOT NULL,
    valeur double precision NOT NULL
);


ALTER TABLE public.t_valeur_signal OWNER TO neurales_user;

--
-- Name: organisation organisation_id; Type: DEFAULT; Schema: public; Owner: neurales_user
--

ALTER TABLE ONLY public.organisation ALTER COLUMN organisation_id SET DEFAULT nextval('public.organisation_organisation_id_seq'::regclass);


--
-- Name: organisation organisation_pkey; Type: CONSTRAINT; Schema: public; Owner: neurales_user
--

ALTER TABLE ONLY public.organisation
    ADD CONSTRAINT organisation_pkey PRIMARY KEY (organisation_id);


--
-- Name: t_alerte t_alerte_pkey; Type: CONSTRAINT; Schema: public; Owner: neurales_user
--

ALTER TABLE ONLY public.t_alerte
    ADD CONSTRAINT t_alerte_pkey PRIMARY KEY (alert_id);


--
-- Name: t_associer t_associer_pkey; Type: CONSTRAINT; Schema: public; Owner: neurales_user
--

ALTER TABLE ONLY public.t_associer
    ADD CONSTRAINT t_associer_pkey PRIMARY KEY (user_id, role_id);


--
-- Name: t_canal t_canal_pkey; Type: CONSTRAINT; Schema: public; Owner: neurales_user
--

ALTER TABLE ONLY public.t_canal
    ADD CONSTRAINT t_canal_pkey PRIMARY KEY (channel_id);


--
-- Name: t_configuration_session t_configuration_session_pkey; Type: CONSTRAINT; Schema: public; Owner: neurales_user
--

ALTER TABLE ONLY public.t_configuration_session
    ADD CONSTRAINT t_configuration_session_pkey PRIMARY KEY (config_id);


--
-- Name: t_configuration_session t_configuration_session_session_id_key; Type: CONSTRAINT; Schema: public; Owner: neurales_user
--

ALTER TABLE ONLY public.t_configuration_session
    ADD CONSTRAINT t_configuration_session_session_id_key UNIQUE (session_id);


--
-- Name: t_consentement t_consentement_pkey; Type: CONSTRAINT; Schema: public; Owner: neurales_user
--

ALTER TABLE ONLY public.t_consentement
    ADD CONSTRAINT t_consentement_pkey PRIMARY KEY (consent_id);


--
-- Name: t_definir t_definir_pkey; Type: CONSTRAINT; Schema: public; Owner: neurales_user
--

ALTER TABLE ONLY public.t_definir
    ADD CONSTRAINT t_definir_pkey PRIMARY KEY (role_id, permission_id);


--
-- Name: t_dispositif t_dispositif_pkey; Type: CONSTRAINT; Schema: public; Owner: neurales_user
--

ALTER TABLE ONLY public.t_dispositif
    ADD CONSTRAINT t_dispositif_pkey PRIMARY KEY (device_id);


--
-- Name: t_echantillon t_echantillon_pkey; Type: CONSTRAINT; Schema: public; Owner: neurales_user
--

ALTER TABLE ONLY public.t_echantillon
    ADD CONSTRAINT t_echantillon_pkey PRIMARY KEY (sample_id);


--
-- Name: t_export_fichier t_export_fichier_pkey; Type: CONSTRAINT; Schema: public; Owner: neurales_user
--

ALTER TABLE ONLY public.t_export_fichier
    ADD CONSTRAINT t_export_fichier_pkey PRIMARY KEY (export_id);


--
-- Name: t_indicateur t_indicateur_pkey; Type: CONSTRAINT; Schema: public; Owner: neurales_user
--

ALTER TABLE ONLY public.t_indicateur
    ADD CONSTRAINT t_indicateur_pkey PRIMARY KEY (indicator_id);


--
-- Name: t_log_evenement t_log_evenement_pkey; Type: CONSTRAINT; Schema: public; Owner: neurales_user
--

ALTER TABLE ONLY public.t_log_evenement
    ADD CONSTRAINT t_log_evenement_pkey PRIMARY KEY (log_id);


--
-- Name: t_organisation t_organisation_pkey; Type: CONSTRAINT; Schema: public; Owner: neurales_user
--

ALTER TABLE ONLY public.t_organisation
    ADD CONSTRAINT t_organisation_pkey PRIMARY KEY (organisation_id);


--
-- Name: t_patient t_patient_numero_securite_sociale_key; Type: CONSTRAINT; Schema: public; Owner: neurales_user
--

ALTER TABLE ONLY public.t_patient
    ADD CONSTRAINT t_patient_numero_securite_sociale_key UNIQUE (numero_securite_sociale);


--
-- Name: t_patient t_patient_pkey; Type: CONSTRAINT; Schema: public; Owner: neurales_user
--

ALTER TABLE ONLY public.t_patient
    ADD CONSTRAINT t_patient_pkey PRIMARY KEY (patient_id);


--
-- Name: t_permission t_permission_code_key; Type: CONSTRAINT; Schema: public; Owner: neurales_user
--

ALTER TABLE ONLY public.t_permission
    ADD CONSTRAINT t_permission_code_key UNIQUE (code);


--
-- Name: t_permission t_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: neurales_user
--

ALTER TABLE ONLY public.t_permission
    ADD CONSTRAINT t_permission_pkey PRIMARY KEY (permission_id);


--
-- Name: t_role t_role_code_key; Type: CONSTRAINT; Schema: public; Owner: neurales_user
--

ALTER TABLE ONLY public.t_role
    ADD CONSTRAINT t_role_code_key UNIQUE (code);


--
-- Name: t_role t_role_pkey; Type: CONSTRAINT; Schema: public; Owner: neurales_user
--

ALTER TABLE ONLY public.t_role
    ADD CONSTRAINT t_role_pkey PRIMARY KEY (role_id);


--
-- Name: t_session_mesure t_session_mesure_pkey; Type: CONSTRAINT; Schema: public; Owner: neurales_user
--

ALTER TABLE ONLY public.t_session_mesure
    ADD CONSTRAINT t_session_mesure_pkey PRIMARY KEY (session_id);


--
-- Name: t_utilisateur t_utilisateur_email_key; Type: CONSTRAINT; Schema: public; Owner: neurales_user
--

ALTER TABLE ONLY public.t_utilisateur
    ADD CONSTRAINT t_utilisateur_email_key UNIQUE (email);


--
-- Name: t_utilisateur t_utilisateur_pkey; Type: CONSTRAINT; Schema: public; Owner: neurales_user
--

ALTER TABLE ONLY public.t_utilisateur
    ADD CONSTRAINT t_utilisateur_pkey PRIMARY KEY (user_id);


--
-- Name: t_valeur_signal t_valeur_signal_pkey; Type: CONSTRAINT; Schema: public; Owner: neurales_user
--

ALTER TABLE ONLY public.t_valeur_signal
    ADD CONSTRAINT t_valeur_signal_pkey PRIMARY KEY (sample_id, channel_id);


--
-- Name: t_patient uq_patient_identifiant_org; Type: CONSTRAINT; Schema: public; Owner: neurales_user
--

ALTER TABLE ONLY public.t_patient
    ADD CONSTRAINT uq_patient_identifiant_org UNIQUE (organisation_id, identifiant_interne);


--
-- Name: idx_alert_session; Type: INDEX; Schema: public; Owner: neurales_user
--

CREATE INDEX idx_alert_session ON public.t_alerte USING btree (session_id);


--
-- Name: idx_indicator_session; Type: INDEX; Schema: public; Owner: neurales_user
--

CREATE INDEX idx_indicator_session ON public.t_indicateur USING btree (session_id);


--
-- Name: idx_patient_org; Type: INDEX; Schema: public; Owner: neurales_user
--

CREATE INDEX idx_patient_org ON public.t_patient USING btree (organisation_id);


--
-- Name: idx_sample_session; Type: INDEX; Schema: public; Owner: neurales_user
--

CREATE INDEX idx_sample_session ON public.t_echantillon USING btree (session_id);


--
-- Name: idx_session_org; Type: INDEX; Schema: public; Owner: neurales_user
--

CREATE INDEX idx_session_org ON public.t_session_mesure USING btree (organisation_id);


--
-- Name: idx_session_patient; Type: INDEX; Schema: public; Owner: neurales_user
--

CREATE INDEX idx_session_patient ON public.t_session_mesure USING btree (patient_id);


--
-- Name: idx_user_org; Type: INDEX; Schema: public; Owner: neurales_user
--

CREATE INDEX idx_user_org ON public.t_utilisateur USING btree (organisation_id);


--
-- Name: t_alerte fk_alert_ack_user; Type: FK CONSTRAINT; Schema: public; Owner: neurales_user
--

ALTER TABLE ONLY public.t_alerte
    ADD CONSTRAINT fk_alert_ack_user FOREIGN KEY (ack_by_user_id) REFERENCES public.t_utilisateur(user_id);


--
-- Name: t_alerte fk_alert_session; Type: FK CONSTRAINT; Schema: public; Owner: neurales_user
--

ALTER TABLE ONLY public.t_alerte
    ADD CONSTRAINT fk_alert_session FOREIGN KEY (session_id) REFERENCES public.t_session_mesure(session_id);


--
-- Name: t_canal fk_channel_device; Type: FK CONSTRAINT; Schema: public; Owner: neurales_user
--

ALTER TABLE ONLY public.t_canal
    ADD CONSTRAINT fk_channel_device FOREIGN KEY (device_id) REFERENCES public.t_dispositif(device_id);


--
-- Name: t_configuration_session fk_config_session; Type: FK CONSTRAINT; Schema: public; Owner: neurales_user
--

ALTER TABLE ONLY public.t_configuration_session
    ADD CONSTRAINT fk_config_session FOREIGN KEY (session_id) REFERENCES public.t_session_mesure(session_id);


--
-- Name: t_consentement fk_consent_collector; Type: FK CONSTRAINT; Schema: public; Owner: neurales_user
--

ALTER TABLE ONLY public.t_consentement
    ADD CONSTRAINT fk_consent_collector FOREIGN KEY (collected_by_user_id) REFERENCES public.t_utilisateur(user_id);


--
-- Name: t_consentement fk_consent_patient; Type: FK CONSTRAINT; Schema: public; Owner: neurales_user
--

ALTER TABLE ONLY public.t_consentement
    ADD CONSTRAINT fk_consent_patient FOREIGN KEY (patient_id) REFERENCES public.t_patient(patient_id);


--
-- Name: t_dispositif fk_device_organisation; Type: FK CONSTRAINT; Schema: public; Owner: neurales_user
--

ALTER TABLE ONLY public.t_dispositif
    ADD CONSTRAINT fk_device_organisation FOREIGN KEY (organisation_id) REFERENCES public.t_organisation(organisation_id);


--
-- Name: t_export_fichier fk_export_creator; Type: FK CONSTRAINT; Schema: public; Owner: neurales_user
--

ALTER TABLE ONLY public.t_export_fichier
    ADD CONSTRAINT fk_export_creator FOREIGN KEY (created_by_user_id) REFERENCES public.t_utilisateur(user_id);


--
-- Name: t_export_fichier fk_export_session; Type: FK CONSTRAINT; Schema: public; Owner: neurales_user
--

ALTER TABLE ONLY public.t_export_fichier
    ADD CONSTRAINT fk_export_session FOREIGN KEY (session_id) REFERENCES public.t_session_mesure(session_id);


--
-- Name: t_indicateur fk_indicator_session; Type: FK CONSTRAINT; Schema: public; Owner: neurales_user
--

ALTER TABLE ONLY public.t_indicateur
    ADD CONSTRAINT fk_indicator_session FOREIGN KEY (session_id) REFERENCES public.t_session_mesure(session_id);


--
-- Name: t_log_evenement fk_log_actor; Type: FK CONSTRAINT; Schema: public; Owner: neurales_user
--

ALTER TABLE ONLY public.t_log_evenement
    ADD CONSTRAINT fk_log_actor FOREIGN KEY (actor_user_id) REFERENCES public.t_utilisateur(user_id);


--
-- Name: t_log_evenement fk_log_organisation; Type: FK CONSTRAINT; Schema: public; Owner: neurales_user
--

ALTER TABLE ONLY public.t_log_evenement
    ADD CONSTRAINT fk_log_organisation FOREIGN KEY (organisation_id) REFERENCES public.t_organisation(organisation_id);


--
-- Name: t_log_evenement fk_log_session; Type: FK CONSTRAINT; Schema: public; Owner: neurales_user
--

ALTER TABLE ONLY public.t_log_evenement
    ADD CONSTRAINT fk_log_session FOREIGN KEY (session_id) REFERENCES public.t_session_mesure(session_id);


--
-- Name: t_patient fk_patient_organisation; Type: FK CONSTRAINT; Schema: public; Owner: neurales_user
--

ALTER TABLE ONLY public.t_patient
    ADD CONSTRAINT fk_patient_organisation FOREIGN KEY (organisation_id) REFERENCES public.t_organisation(organisation_id);


--
-- Name: t_definir fk_role_perm_perm; Type: FK CONSTRAINT; Schema: public; Owner: neurales_user
--

ALTER TABLE ONLY public.t_definir
    ADD CONSTRAINT fk_role_perm_perm FOREIGN KEY (permission_id) REFERENCES public.t_permission(permission_id);


--
-- Name: t_definir fk_role_perm_role; Type: FK CONSTRAINT; Schema: public; Owner: neurales_user
--

ALTER TABLE ONLY public.t_definir
    ADD CONSTRAINT fk_role_perm_role FOREIGN KEY (role_id) REFERENCES public.t_role(role_id);


--
-- Name: t_echantillon fk_sample_session; Type: FK CONSTRAINT; Schema: public; Owner: neurales_user
--

ALTER TABLE ONLY public.t_echantillon
    ADD CONSTRAINT fk_sample_session FOREIGN KEY (session_id) REFERENCES public.t_session_mesure(session_id);


--
-- Name: t_session_mesure fk_session_consent; Type: FK CONSTRAINT; Schema: public; Owner: neurales_user
--

ALTER TABLE ONLY public.t_session_mesure
    ADD CONSTRAINT fk_session_consent FOREIGN KEY (consent_id) REFERENCES public.t_consentement(consent_id);


--
-- Name: t_session_mesure fk_session_creator; Type: FK CONSTRAINT; Schema: public; Owner: neurales_user
--

ALTER TABLE ONLY public.t_session_mesure
    ADD CONSTRAINT fk_session_creator FOREIGN KEY (created_by_user_id) REFERENCES public.t_utilisateur(user_id);


--
-- Name: t_session_mesure fk_session_device; Type: FK CONSTRAINT; Schema: public; Owner: neurales_user
--

ALTER TABLE ONLY public.t_session_mesure
    ADD CONSTRAINT fk_session_device FOREIGN KEY (device_id) REFERENCES public.t_dispositif(device_id);


--
-- Name: t_session_mesure fk_session_organisation; Type: FK CONSTRAINT; Schema: public; Owner: neurales_user
--

ALTER TABLE ONLY public.t_session_mesure
    ADD CONSTRAINT fk_session_organisation FOREIGN KEY (organisation_id) REFERENCES public.t_organisation(organisation_id);


--
-- Name: t_session_mesure fk_session_patient; Type: FK CONSTRAINT; Schema: public; Owner: neurales_user
--

ALTER TABLE ONLY public.t_session_mesure
    ADD CONSTRAINT fk_session_patient FOREIGN KEY (patient_id) REFERENCES public.t_patient(patient_id);


--
-- Name: t_utilisateur fk_user_organisation; Type: FK CONSTRAINT; Schema: public; Owner: neurales_user
--

ALTER TABLE ONLY public.t_utilisateur
    ADD CONSTRAINT fk_user_organisation FOREIGN KEY (organisation_id) REFERENCES public.t_organisation(organisation_id);


--
-- Name: t_associer fk_user_role_role; Type: FK CONSTRAINT; Schema: public; Owner: neurales_user
--

ALTER TABLE ONLY public.t_associer
    ADD CONSTRAINT fk_user_role_role FOREIGN KEY (role_id) REFERENCES public.t_role(role_id);


--
-- Name: t_associer fk_user_role_user; Type: FK CONSTRAINT; Schema: public; Owner: neurales_user
--

ALTER TABLE ONLY public.t_associer
    ADD CONSTRAINT fk_user_role_user FOREIGN KEY (user_id) REFERENCES public.t_utilisateur(user_id);


--
-- Name: t_valeur_signal fk_value_channel; Type: FK CONSTRAINT; Schema: public; Owner: neurales_user
--

ALTER TABLE ONLY public.t_valeur_signal
    ADD CONSTRAINT fk_value_channel FOREIGN KEY (channel_id) REFERENCES public.t_canal(channel_id);


--
-- Name: t_valeur_signal fk_value_sample; Type: FK CONSTRAINT; Schema: public; Owner: neurales_user
--

ALTER TABLE ONLY public.t_valeur_signal
    ADD CONSTRAINT fk_value_sample FOREIGN KEY (sample_id) REFERENCES public.t_echantillon(sample_id);


--
-- PostgreSQL database dump complete
--

\unrestrict phZxxO5Azd5aTizXzUtEcfQdqaMjK7ZccKBxqBTa8X9RgTxx698tU9JPDXPx6YE

